  body, html{
      background-color: white;
      font-family: "Montserrat", "Avenir";
  }

  h1{
    font-size: 50px;
    text-align: center;
    color: #526C8E;
    /* background: white; */
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 0 0;

  }
  img{
    max-width:100%;
    max-height:100%;
  }

  .container{
    margin: 15px auto;
  }

  .column{
    background: whitesmoke;
    border-radius: 10%;
    margin: 10px;
    height: 150px;
    width: 150px;
    box-shadow: 5px 10px 8px #646464; 
    /* transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s; */

  }

  .no-show{
    background: #A4A6D8;
    /* background-image: url("https://img.icons8.com/plasticine/100/000000/question-mark.png"); */
  }

  .square h4{
    text-align: center;
    color: white;
}

  /* takes up 20% of container therefore pushing buttons away */
  #message{
    /* display: inline-block; */
    /* width: 20%; */
  }
  #stripe{
    background: white;
    text-align:center;
    height: 30px;
  }
 

  button{
    border: none;
    background: none;
    text-transform: uppercase;
    /* btn takes up 100% height of its container */
    height: 100%; 
    font-weight: 700;
    color: #526C8E;
    letter-spacing: 1px;
    font-size: inherit;
    /* when any property changes(i.e. color,background in this case) fade effect 0.3s*/
    transition: all 0.3s;
    /* for xtra browser support */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    /* get rid of blue border when button clicked */
    outline: none; 
  }
  button:hover{
    color: white;
    background: #B7D3F2;
    
  }

  /* add responsive media quaries */
  @media screen and (max-width:1200px){
      .square{
          width: 40%;
      }
  } 

  @media screen and (max-width:600px){
    .square{
        width: 90%;
    }
} 

  
